<% layout('layout') %>
<div class="center">
    <h1>購物車</h1>
    <% if(logStatus){%>
        <div>
            <table class="dart_table">
                <tr>
                    <th>品名</th>
                    <th>尺寸</th>
                    <th>數量</th>
                    <th>單價</th>
                    
                </tr>
                <%- trdata %> 
            </table>               
        </div>
        <div class="setOrder">
            <p>總金額   <%= totalcost%></p>
            <form action="set_order" method="post">
                <input class="setOrder" type="submit" value="建立訂單">
            </form>
        </div>
    <%}else{%>
        <h2 style="color:red"><%=message%></h2>
    <%}%>
    
</div>