
<% layout('layout') %>

<div>
        <% for(item in myOrder){ %>
    <a href="/product/<%= item %>">
        <div class="product">
            <img src="/images/<%= item %>.jpg" alt=""> 
            <p><%= item %> $<%= myOrder[item].price %></p>    
                
        </div>
    </a>       
    
    <%}%>
</div>