<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title> <%= title %> </title>
</head>
<body>
    <header>
        <a href="/">
            <img id="logo" src="/images/logo.png" alt="logo" onclick="index.ejs" >
        </a>
        <%if( logStatus ){%>
            <%if(identity == "admin"){%>
                <ul class="header_list logouttype">  
                        <a href="/allorder"><li>所有訂單資料</li></a>
                        <a href="/do_logout"><li>登出</li></a>                                       
                </ul>
                <div class="clear"></div>
            <%}else{%>
                <ul class="header_list logouttype">  
                        <a href="/member/profile"><li>會員資料</li></a>
                        <a href="/member/order"><li>訂單查詢</li></a>                      
                        <a href="/member/cart"><li>購物車</li></a>
                        <a href="/do_logout"><li>登出</li></a>                    
                </ul>
                <div class="clear"></div>
        <%}}else{%>
            <ul class="header_list logintype">
                <a href="/login"><li>登入</li></a>
                <a href="/register"><li>註冊</li></a>
            </ul>
            <div class="clear"></div>
        <%}%>
    </header>   
    <%- body %>
</body>
</html>
