<% layout('layout') %>
<div class="center">
    <h1>會員資料</h1>    
    <p>帳號：<%- data.account %></p>
    <p>姓名：<%- data.name %></p>
    <p>電話：<%- data.phone %></p>
    <p>地址：<%- data.address %></p>
</div>