<% layout('layout') %>
<form action="do_register" method="post">
    <body>
        <div class="center">
            <h1>註冊</h1>
            <h2>姓名</h2>
            <input class="inputext" type="text" name="name">
            <h2>帳號</h2>            
            <input class="inputext" name="uid">
            <h2>密碼</h2>
            <input class="inputext" type="password" name="pwd">
            <h2>電話</h2>
            <input class="inputext" type="text" name="phone">
            <h2>地址</h2>
            <input class="inputext" type="text" name="address"><br><br>        
            <input type="submit" value="註冊">
            <p style="color:red"><%= message %></p>
        </div>    
    </body>
</form>