<% layout('layout') %>
<div class="product_page">
    <img src="/images/yeezy700.jpg" alt="">
    
    <h1>yeezy700</h1>
    <p>價格：150</p>
    <p>尺寸(UK)</p>
    <select name="" class="size" id="">
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <input type="button" value="加入購物車">
    <div class="clear"></div>
</div>